.form {
  display: flex;
  flex-direction: column;

  max-width: 50%;
  margin: 0 auto;
}

.submitBtn {
  margin: 10px auto;
  padding: 10px 20px !important;
}

.submitBtnDisabled {
  color: #ffffff !important;
  background-color: #3f51b5 !important;
  opacity: 0.4;
}
